<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <div class="main">
        <div class="sub"></div>
        <ul>
            <li>hi</li>
            <li>how are</li>
            <li>you and fine</li>
            <li>they</li>
            <li>might</li>
        </ul>

        {{name}}  
        <p>Employment id {{ user_id}}</p>
    </div>
</body>
</html>